<!DOCTYPE html>
<html>
<head>
	<title>HPC Fraud Detection Platform</title>
</head>

<body>

<h1>HPC Fraud Detection Platform</h1>

<h2>Sample Prediction</h2>

<form action="/predict" method="post">

<label><b>Select Sample</b></label><br><br>

<input type="radio" name="mode" value="random" checked>
Random Transaction
<br>

<input type="radio" name="mode" value="fraud">
Known Fraud Sample
<br>

<input type="radio" name="mode" value="legitimate">
Known Legitimate Sample
<br><br>

<input type="submit" value="Predict">

</form>

<hr>

<h2>Distributed Batch Fraud Analysis</h2>

<form action="/upload" method="POST" enctype="multipart/form-data">
	
	<label>Select Transaction CSV</label>

	<br><br>

	<input
		type="file"
		name="csvfile"
		accept=".csv"
		required>

	<br><br>

	<input
		type="submit"
		value="Upload CSV">

</form>

<!--Loading Overlay -->
<div id="loadingOverlay" style="display:none;">
	<div class="loading-box">
		<div class="spinner"></div>
		<h2>Running HPC Fraud Detection</h2>
		<p id="statusText">Reading CSV...</p>
		<h1 id="timer">00:00</h1>
	</div>
</div>


<p>
The prediction is performed on a transaction from the validation dataset.
</p>

</body>
</html>
